@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

body {
  font: 100%/1.75 Libre Baskerville,Georgia,serif;
  color: #443333;
  background: #F8F4F4;
  background: #F8F4F4 linear-gradient(to bottom, #E8E0E0, #F8F4F4 5em, #F8F4F4) no-repeat;
  margin: 0;
  min-height: 100vh; /* needed to place footer on bottom reliably */
  position: relative;
}

a {
  color: #880000;
  text-decoration: none;
}

a:focus, a:hover {
  color: #aa0000;
}

code {
  font-family: inherit;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: .875em;
}

h2 {
  font-size: 1.61818em;
  margin-top: 0;
  margin-bottom: 1.081461em;
}

h3, h2.intro {
  font-size: 1.4142em;
  margin-top: 0;
  margin-bottom: 1.237448em;
}

article {
  background: radial-gradient( closest-side rgba(255,255,255,1), rgba(255,255,255,0)) no-repeat center;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 0 auto;
  max-width: 30em;
  padding: 10.5em 0 5.25em;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.75em;
}

footer p {
  font-size: .8em;
}

p {
  margin: 0;
  text-align: justify;
}

p + p {
  text-indent: 1.5em;
}

@media (min-width: 33em) {
  article p:first-child {
    text-indent: -1.5em;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: flex;
}

ul li:before {
  white-space: nowrap;
  overflow-x: hidden;
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . ";
  order: 2;
  flex: 1 0;
  direction: rtl;
}

ul li :first-child {
  padding-right: 1.75em;
  order: 1;
}

ul li :first-child + a {
  padding-left: .33em;
  min-width: 1.75em;
  text-align: right;
  order: 3;
}
